{% extends 'shop/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}Корзина-Ноябрь{% endblock %}


{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-lg-2"></div>
                <div class="col-md-8 col-sm-8 col-lg-8">
                    <div class="separator" style="margin-top: 35px; margin-bottom: 25px"></div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-lg-2"></div>
                <div class="cart-wrapper col-md-8 col-sm-8 col-lg-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="cart-col col-md-8 col-sm-8 col-lg-8">
                                <div class="cart-clear">
                                    <p>КОРЗИНА</p>
                                    <a href="#">Очистить корзину</a>
                                </div>
                                <div class="cart-side">
                                    <div class="items-wrapper">
                                        {% for item in cart %}
                                            {% with product=item.product %}
                                                <div class="items-wrapper__product">
                                                    <div class="product__image">
                                                        {% thumbnail product.image "100x100" crop="20%" as im %}
                                                            <a class="img" href="{{ product.get_absolute_url }}">
                                                                <img src="{{ im.url }}">
                                                            </a>
                                                        {% endthumbnail %}
                                                    </div>
                                                    <div class="product__descr">
                                                        <div class="title">
                                                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                                        </div>

                                                        <div>Размер:{{ item.size }}</div>
                                                        <div>Артикул:{{ product.article }}</div>
                                                        <div class="cart_row">
                                                            <div class="ui-btn-collections">
                                                                <div class="ui-btn --minus"><p class="sizes"
                                                                                               id="{{ product.id }}"
                                                                                               data-id="{{ product.id }}"
                                                                                               data-mydata="{{ item.size }}"
                                                                                               data-now="{{ item.qty }}"
                                                                                               data-class="{{ product.name }}">
                                                                    -</p>
                                                                </div>
                                                                <input type="text" value="{{ item.qty }}"
                                                                       class="{{ product.name }}" data-max="">
                                                                <div class="ui-btn --plus"><p class="sizes"
                                                                                              id="{{ product.id }}"
                                                                                              data-id="{{ product.id }}"
                                                                                              data-mydata="{{ item.size }}"
                                                                                              data-maxqty=""
                                                                                              data-now="{{ item.qty }}"
                                                                                              data-class_pr="{{ product.name }}">
                                                                    +</p></div>
                                                            </div>
                                                            <div class="price">Цена</div>
                                                        </div>
                                                    </div>
                                                    <a class="remove-btn" href="#"><img
                                                            src="{% static 'img/close-icon.png' %}"></a>
                                                </div>
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="buy col-md-4 col-sm-4 col-lg-4">
                                hellp
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}