{% load thumbnail %}
<ul class="products-list">
    {% for i in products %}
        <li class="product">
            <div class="col-item">
                {% thumbnail i.image "300x340" crop="20%" as im %}
                    <a class="col-item-a" href="{% url 'shop:product_detail' i.slug %}"><img
                            alt="image"
                            src="{{ im.url }}"
                            width="{{ im.width }}"
                            height="{{ im.height }}"></a>
                {% endthumbnail %}
                <div class="col-item-about">
                    <div class="col-item__title">
                        <p>{{ i.brand__name }}</p>
                        <p>{{ i.name }}</p>
                    </div>
                    <div class="price">{{ i.price }} руб.</div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>