{% extends 'shop/base.html' %}
{% load thumbnail %}
{% block title %}{{ product.name }}-Ноябрь Скейтшоп{% endblock %}

{% block content %}
    <div class="content">
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="images col-md-8 col-sm-8 col-lg-8">
                        <div class="img-product" id="img-product">
                            {% for i in product.product_img.all %}
                                {% thumbnail i.img "535x605" crop="100%" as im %}
                                    <img src="{{ im.url }}" alt="{{ product.name }}">
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                        <div class="roll-swipe">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    {% for i in product.product_img.all %}
                                        {% thumbnail i.img "535x605" crop="20%" as im %}
                                            <div class="swiper-slide"><img src="{{ im.url }}" alt="{{ product.name }}">
                                            </div>
                                        {% endthumbnail %}
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="info col-md-4 col-sm-4 col-lg-4">
                        <ul class="info-table">
                            <li><a class="brand-link" title="{{ product.brand.name|upper }}"
                                   href="{% url 'shop:product_list_by_brand' product.brand.slug %}">{{ product.brand.name|upper }}</a>
                            </li>
                            <li><span class="name" itemprop="name">{{ product.name }}</span></li>
                            <li><span itemprop="price" class="product-price">{{ product.price }} руб.</span></li>
                            <li>
                                <div class="choose_size_wrapper">
                                    <div class="choose_size_label"><label>Размер:</label></div>
                                    <div class="choose_size_columns">
                                        {% for i in product.product_sizer.all %}
                                            <div class="choose_size_column">
                                                <span class="choose_size"
                                                      data-size="{{ i.name }} data-sku={{ i.name }}">{{ i.name }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="detail-ship">
                                    <a class="detail" id="detail" href="#">Детали</a>
                                    <a class="ship" id="ship" href="#">Доставка</a>
                                </div>
                            </li>
                            <br>
                            <div class="product-info" id="info_ship">
                                <div class="info-a">
                                    <p><span>{{ product.description|linebreaksbr }}</span></p>
                                    {{ spec|unordered_list }}
                                    <p>Артикул: {{ product.article }}</p>
                                </div>
                                <div class="ship-a" id="ship-a">
                                    <p>Москва: самовывоз из магазина Ноябрь по адресу раз два 25/3.</p>
                                    <p>Московская область&nbsp;и Санкт-Петербург: доставка осуществляется курьерской
                                        службой
                                        Dalli.</p>
                                    <div class="rte">
                                        <p>Стоимость доставки: рассчитывается автоматически на сайте курьерской службы
                                            https://dalli-service.com/<br><br>Сроки доставки: 1-3 дня с момента
                                            подтверждения заказа. Заказ подтверждается после звонка от нашего
                                            сотрудника.</p>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock %}