{% extends 'shop/base.html' %}
{% load thumbnail %}
{% load cache %}
{% block title %}{{ product.name }}-Ноябрь Скейтшоп{% endblock %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="images col-md-8 col-sm-8 col-lg-8">
                        <div class="img-product" id="img-product">
                            {% for i in images %}
                                {% thumbnail i.img "535x605" crop="100%" as im %}
                                    <a href="{{ im.url }}" data-lightbox="test"><img src="{{ im.url }}"
                                                                                     alt="{{ product.name }}"></a>
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                        <div class="roll-swipe">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    {% for i in images %}
                                        {% thumbnail i.img "535x605" crop="20%" as im %}
                                            <div class="swiper-slide"><img src="{{ im.url }}" alt="{{ product.name }}">
                                            </div>
                                        {% endthumbnail %}
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="info col-md-4 col-sm-4 col-lg-4">
                        <ul class="info-table">
                            <li><a class="brand-link" title="{{ product.brand.name|upper }}"
                                   href="{% url 'shop:product_list_by_brand' product.brand.slug %}">{{ product.brand.name|upper }}</a>
                            </li>
                            <li><span class="name" itemprop="name">{{ product.name }}</span></li>
                            <li>
                                {% if product.price == product.price_discount %}
                                <span itemprop="price" class="product-price">{{ product.price }} руб.</span>
                                {% else %}
                                <span itemprop="price" class="product-price"><s>{{ product.price }} руб.</s></span>
                                <span itemprop="price" class="product-price">{{ product.price_discount }} руб.</span>
                                {% endif %}
                            </li>
                            <li>
                                <div class="choose_size_wrapper">
                                    <div class="choose_size_label"><label>Размер:</label></div>
                                    <div class="choose_size_columns">
                                        <div class="choose_size_column">
                                            {% for i in product.product_sizer.all %}
                                                {% if i %}
                                                    {% if i.qty <= 0 %}{% else %}
                                                        <a class="size" id="{{ i.name }}" href="#"
                                                           data-mydata={{ i.name }}>{{ i.name }}</a>
                                                    {% endif %}
                                                {% else %}<p>Товар закончился</p>{% endif %}{% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-add">
                                    <div class="customer-login">
                                        <form class="login-form" method="post"
                                              action="{% url 'cart:cart_add' product.slug %}"
                                              style="padding-top: 0px;margin-top: 0px;">
                                            <div class="block-a">
                                                <input class="size" value="" type="text" name="size" required=""
                                                       id="id_size" hidden>
                                            </div>
                                            {% csrf_token %}
                                            <div class="block-submit">
                                                <input type="submit" value="В козрину">
                                            </div>
                                        </form>
                                    </div>
                                    {% if product in user.favorite.all %}
                                        <div class="add_to_fav" data-id="{{ product.id }}"
                                             data-in_fav="added"
                                             data-info={% if user.is_authenticated %}{% else %}log{% endif %}>
                                            <img class="img-fav" id="img-fav" src={% static 'img/added.png' %}>
                                        </div>
                                    {% else %}
                                        <div class="add_to_fav" data-id="{{ product.id }}" data-in_fav="add"
                                             data-info={% if user.is_authenticated %}{% else %}log{% endif %}>
                                            <img class="img-fav" id="img-fav" src={% static 'img/add.png' %}>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="detail-ship">
                                    <a class="detail" id="detail" href="#">Детали</a>
                                    <a class="ship" id="ship" href="#">Доставка</a>
                                </div>
                            </li>
                            <br>
                            <div class="product-info" id="info_ship">
                                <div class="info-a">
                                    <p><span>{{ product.description|linebreaksbr }}</span></p>
                                    {{ spec|unordered_list }}
                                    <p>Артикул: {{ product.article }}</p>
                                </div>
                                <div class="ship-a" id="ship-a">
                                    <p>Москва: самовывоз из магазина Ноябрь по адресу раз два 25/3.</p>
                                    <p>Московская область&nbsp;и Санкт-Петербург: доставка осуществляется курьерской
                                        службой
                                        Dalli.</p>
                                    <div class="rte">
                                        <p>Стоимость доставки: рассчитывается автоматически на сайте курьерской службы
                                            https://dalli-service.com/<br><br>Сроки доставки: 1-3 дня с момента
                                            подтверждения заказа. Заказ подтверждается после звонка от нашего
                                            сотрудника.</p>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% cache 86400 recommendations %}
            <div class="recommendation">
                <div class="container-fluid">
                    <div class="row">
                        <h2>
                            <span>Рекомендуем</span>
                        </h2>
                        <div class="recommendations col-md-12 col-sm-12 col-lg-12">
                            <ul class="products-list">
                                {% for i in recommendation %}
                                    <li class="product">
                                        <div class="col-item">
                                            {% thumbnail i.image "319x344" crop="20%" as im %}
                                                <a class="col-item-a" href="{% url 'shop:product_detail' i.slug %}"><img
                                                        alt="image"
                                                        src="{{ im.url }}"></a>
                                            {% endthumbnail %}
                                            <div class="col-item-about">
                                                <div class="col-item__title">
                                                    <p>{{ i.brand|upper }}</p>
                                                    <p>{{ i.name|upper }}</p>
                                                </div>
                                                <div class="price">{{ i.price }} руб.</div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endcache %}
    </div>
    <script src="{% static 'js/libs/zoom/dist/js/lightbox-plus-jquery.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        lightbox.option({
            'wrapAround': true,
            'resizeDuration': 200,
            'maxWidth': 700,
            'maxHeight': 700,
            'fitImagesInViewport': false,
            'alwaysShowNavOnTouchDevices': true
        })
    </script>
    <script src="{% static 'js/add_cart.js' %}"></script>
{% endblock %}