{% extends 'shop/base.html' %}
{% load thumbnail %}
{% load cache %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-items">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar col-md-2 col-sm-2 col-lg-2">
                        {% include 'shop/includes/filter.html' %}
                    </div>
                    <div class="product-list col-md-10 col-sm-10 col-lg-10">
                        <ul class="products-list">
                            {% for i in products %}
                                <li class="product">
                                    <div class="col-item">
                                        {% thumbnail i.image "300x340" crop="20%" as im %}
                                            <a class="col-item-a" href="{% url 'shop:product_detail' i.slug %}"><img
                                                    alt="image"
                                                    src="{{ im.url }}"></a>
                                        {% endthumbnail %}
                                        <div class="col-item-about">
                                            <div class="col-item__title">
                                                <p>{{ i.brand }}</p>
                                                <p>{{ i.name }}</p>
                                            </div>
                                            <div class="price">{{ i.price }} руб.</div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginator">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="paginator-list col-md-6 col-sm-6 col-lg-6">
                        {% if products.has_other_pages %}
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <a class="paginator-current-link" href="?page={{ i }}">{{ i }}</a>
                                {% else %}
                                    <a class="paginator-link" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            let producttype = []
            let brand = []
            let size = []
            let category = $('.products_type').data('id')
            console.log(category)
            $(".product_type").click(function () {
                var product_type = $(this).data('id')
                producttype.push(product_type)
                getProductByFilter(producttype, brand, size, category)
            });

            $('.brands').click(function () {
                var brands = $(this).data('id')
                brand.push(brands)
                getProductByFilter(producttype, brand, size, category)
            });

            $('.sizes').click(function () {
                var sizes = $(this).data('id')
                size.push(sizes)
                getProductByFilter(producttype, brand, size, category)
            })

            $(".clear_filter").click(function () {
                location.reload()
            })

        });

        function getProductByFilter(product_type, brand, size, category) {
            console.log(product_type)
            $.ajax({
                data: {'product_type': product_type, 'brand': brand, 'size': size, 'category': category},
                url: ,
                success: function (response) {
                    render(response['render'])
                    if ($('.clear_all ').attr('class') == 'clear_all clear_all_active') {

                    } else {
                        $('.clear_all').toggleClass('clear_all_active')
                    }
                },
                error: function (response) {
                    console.log(response.responseJSON.errors)
                }
            });
        }

        function render(rendered) {
            $('.products-list').remove()
            $('.product-list').append(rendered)
        }

    </script>
    -->
    <script src="{% static 'js/product_filter.js' %}"></script>
{% endblock %}