{% extends 'shop/base.html' %}
{% load thumbnail %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-items">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar col-md-2 col-sm-2 col-lg-2">
                        <div class="cell">
                            <div class="clear"></div>
                            <div class="nw-i-filter">
                                <ul>
                                    <li class="sort">
                                        <a href="#" id="popular">Популярное</a>
                                    </li>
                                    <li class="sort">
                                        <a href="#" id="newest">Новинки</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nw-i-filter">
                                <label class="product_type">Тип продукта:</label>
                                <ul>
                                    {% for i in category.subcategories.all %}
                                        {% for c in i.subcategory_type.all %}
                                            <li class="filter">
                                                <a class="product_type" href="#" data-id="{{ c.id }}"
                                                   id="{{ c.name }}">{{ c.name }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="nw-i-filter">
                                <span class="brands">Бренд:</span>
                                <ul>
                                    {% for brand in brands %}
                                        <li class="filter">
                                            <a class="brands" href="#" id="{{ brand.name }}">{{ brand.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="nw-i-filter">
                                <span class="sizes">Размеры:</span>
                                <ul>
                                    {% for i in sizes %}
                                        <li class="filter">
                                            <a class="sizes" href="#" id="{{ i }}">{{ i }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-list col-md-10 col-sm-10 col-lg-10">
                        <ul class="products-list">
                            {% for i in products %}
                                <li class="product">
                                    <div class="col-item">
                                        {% thumbnail i.image "300x340" crop="20%" as im %}
                                            <a class="col-item-a" href="{% url 'shop:product_detail' i.slug %}"><img
                                                    alt="image"
                                                    src="{{ im.url }}"
                                                    width="{{ im.width }}"
                                                    height="{{ im.height }}"></a>
                                        {% endthumbnail %}
                                        <div class="col-item-about">
                                            <div class="col-item__title">
                                                <p>{{ i.brand }}</p>
                                                <p>{{ i.name }}</p>
                                            </div>
                                            <div class="price">{{ i.price }}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginator">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="paginator-list col-md-6 col-sm-6 col-lg-6">
                        {% if products.has_other_pages %}
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <a class="paginator-current-link" href="?page={{ i }}">{{ i }}</a>
                                {% else %}
                                    <a class="paginator-link" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            let producttype = []
            var brand = []
            var size = []

            $(".product_type").click(function () {
                var product_type = $(this).data('id')
                producttype.push(product_type)
                console.log(producttype)
                getProductByFilter(producttype, brand, size)
                console.log('end')
            });
            $(".clear_filter").click(function () {
                location.reload()
            })

        });

        function getProductByFilter(product_type, brand, size) {
            console.log(product_type)
            $.ajax({
                data: {'product_type': product_type, 'brand': brand, 'size': size},
                url: "{% url 'shop:json_filter' %}",
                success: function (response) {
                    console.log(response)
                    a = `<div class="nw-i-filter"><a class="clear_filter" href="#" id="clear_filter">Очистить</a></div>`
                    b = document.getElementsByClassName('clear')[0].childNodes
                    render(response['render'])
                    if (b[0]) {
                    } else {
                        $('.clear').append(a)
                    }
                },
                error: function (response) {
                    console.log(response.responseJSON.errors)
                }
            });
        }

        function render(rendered) {
            $('.products-list').remove()
            $('.product-list').append(rendered)
        }

    </script>
{% endblock %}