@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    font-size: 22px;
    font-family: 'Merriweather', serif;
}

/* NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    z-index: 1000;
    color: black;
    width: 100%;
    padding: 20px 0 27px;
}


/* SLIDER */

.home-slider {
    position: relative;
    height: 100vh;
    color: white;
    background-color: white;

}

.products {
    position: relative;
}

.left-menu li a {
    color: black; /* Цвет ссылок */
    text-decoration: none;
}


a:visited {
    color: black; /* Цвет посещенных ссылок */
}

a:active {
    color: black; /* Цвет активных ссылок */
}

.right-auth li a {
    color: black; /* Цвет ссылок */
    text-decoration: none;
}


.right-auth li {
    list-style: none;
    margin: 0;
    padding: 4px;
    display: inline-block;
    letter-spacing: 5px;
}

.right-auth li:hover {
    border-bottom: 2px solid black;
}

.left-menu li {
    list-style: none;
    margin: 0;
    padding: 4px;
    display: inline-block;
    letter-spacing: 5px;
}

.left-menu li:hover {
    border-bottom: 2px solid black;
}

.right-auth {
    margin: 0;
    padding: 0;
    text-align: right;
}

.left-menu {
    margin-left: 26px;
    padding: 0;
    text-align: left;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo a:active {
    color: black;
}

.logo a:visited {
    color: black;
}

.logo {
    text-align: center;
    margin: 0;
    padding: 4px;
}

.menu-container {
    position: relative;
}

.menu-toggle {
    width: 25px;
    height: 40px;
    background-image: url(../img/menu-dark.svg);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 2px;
    display: none;

}

.cart {
    width: 25px;
    height: 40px;
    background-image: url(../img/cart.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 2px;
    display: none;
    text-align: right;
}

.menu-toggle_active {
    background-image: url(../img/x.svg);
    width: 22px;
    height: 40px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: 2px;
}

.left-menu.left-menu_active {
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: center;
    left: 0;
    top: 50px;
    /*
    top: 30px;
    padding: 0;
    margin-left: 30%;
    margin-right: 30%;*/
}

.left-menu.left-menu_active li {
    display: block;
}


.right-auth.right-auth_active {
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: center;
    top: 26px;
    right: 0;

    /*top: 131px;
    padding: 0;
    margin-left: 30%;
    margin-right: 30%;*/
}

.right-auth.right-auth_active li {
    display: block;
}


.brand-list {
    text-align: left;
    display: block;

}

.navbar.navbar_active {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 4444;
}

.products-list li {
    list-style: none;
    display: inline-block;
}


.product-list {
    padding: 0;
    text-align: left;
}

.products-list {
    padding: 0;
    text-align: left;
}

.paginator-list {
    text-align: center;
}

.paginator-current-link {
    text-decoration: underline;
    font-size: 25px;
    color: black;
}

.paginator-link {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.paginator-link:visited {
    color: black; /* Цвет посещенных ссылок */
}

.paginator-link:active {
    color: black; /* Цвет активных ссылок */
}

.paginator-current-link:visited {
    color: black; /* Цвет посещенных ссылок */
}

.paginator-current-link:active {
    color: black; /* Цвет активных ссылок */
}

.paginator-list:active {
    color: black; /* Цвет посещенных ссылок */
}

.paginator-list:visited {
    color: black; /* Цвет посещенных ссылок */
}


.products {

}

.logo-brand {
    text-align: left;
    display: inline-block;
}

.brand-name {
    text-align: center;
    display: inline-block;
}

.about {
    text-align: left;
}

.brand-name-name {
    text-align: left;
}

.logo-brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-product {
    display: inline;
}

.img-product img {
    max-height: 100%;
    max-width: 49%;
    object-fit: cover;
}

.col-item-a img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}

.col-item {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 0 0 58% 0;
}


.products-list {
    display: flex;
    flex-flow: row wrap;
}

.products-list li {
    flex-basis: 16.6%;
    padding-right: 5px;
}


li {
    list-style: none;
}

.product-info ul li {
    list-style: initial;
}

.info-table li a {
    list-style: none;
    text-decoration: none;
    color: black;

}

.detail-ship .detail {
    text-decoration: underline;
}

.detail-ship a {
    margin-right: 15px;
}

.product-info p {
    text-align: justify;
}

.info-table li {
    margin-bottom: 10px;
}

.images img {
    margin-bottom: 5px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next, .swiper-button-prev {
    color: black;
}

.swiper-pagination {
    color: black;
}

.roll-swipe {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-bottom: 0;
    padding-bottom: 0;
}

.brand-link {
    letter-spacing: 10px;
}

.name {
    letter-spacing: 10px;
}


.product-price {
    letter-spacing: 5px;
}


.radio-selector * {
    font-family: 'Raleway', sans-serif;
}

.detail-ship * {
    font-family: 'Raleway', sans-serif;
}

.product-info * {
    font-family: 'Raleway', sans-serif;
}

.radios__option {
    cursor: pointer;
}

.choose_size_wrapper * {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    padding-right: 5px;
}

.choose_size {
    cursor: pointer;
}

.ship-a {
    display: none;
}

.ship-a_active {
    display: contents;
}

.info-a_active {
    display: none;
}


.detail-ship .detail_none {
    text-decoration: none;
}

.detail-ship .ship_active {
    text-decoration: underline;
}

.img-product_active {
    position: fixed;
    top: 0;
    width: 600%;
    height: 1000%;
    background-color: white;
    z-index: 4444;
    cursor: pointer;
    display: inline-block;
}

.img-product_active img {
    text-align: center;
    max-width: 100%;

}

.img-product {
    cursor: pointer;
}

.footer {
    background-color: #afb1b1;
    color: #afb1b1;
}

.footer * {
    color: black;
}

.work * {
    text-decoration: none;
}

.work ul li a {
    color: black;
}

.social * {
    text-decoration: none;
}

.social ul li a {
    color: black;
}

.work ul {
    list-style: none;
    display: flex;
}

.work ul {
    padding-left: 0;
    max-height: 6px;
}

.work ul li {
    padding-right: 20px;
}

.social ul {
    list-style: none;
    display: inline-flex;
    float: right;
    max-height: 11px;
}

.social ul li {
    padding-right: 20px;
}

.footer {
    max-height: 95px;
    flex: 0 0 auto;
}

.address {
    max-height: 30px;
}

.work-social {
    max-height: 45px;
}

.work, .social {
    max-height: 40px;
}

.work ul li p {
    max-height: 5px;
}

.work ul li a {
    max-height: 5px;
    display: inline-block;
}

.social ul li a {
    max-height: 5px;
    display: inline-block;
}

.footer * {
    font-family: 'Raleway', sans-serif;
}


.symbol a {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.symbol h2 {
    margin-bottom: 10px;
}

.symbol {
    margin-bottom: 22px;
}


.brand-list div a {
    color: black;
}

.img-hidden:hover {
    text-decoration: underline;
}

.col-item-about div {
    max-height: 50px;
}

.col-item__title * {
    max-height: 10px;
}

.product {
    padding-bottom: 0;

}

.col-item {
    padding: 0;
    margin: 0 0 100px 0;
}

.col-item-about * {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.products-list li {
    max-height: 277px;
}

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 220px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.paginator {
    padding-top: 140px;
}

.info-table {
    padding-left: 0;
}

.btn {
    text-decoration: none;
    max-height: 28px;
}

.login {
    text-align: center;
    padding-top: 20%;
}

.login * {
    text-align: center;
}

.customer-login * {
    display: inline-block;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin: 2px 0;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.block-a {
    padding: 0;

}

.block-a * {
    text-align: left;
}

.block-a input {
    border: 1px solid;
}

.block-submit input {
    text-decoration: none;
    background-color: white;
    border: 1px solid;
}

.block-submit {
    padding-right: 0;
}

.block-a h1 {
    text-transform: uppercase;
}

.block-link {
    display: inline-flex;
    padding: 0;
}

.block-link-a-left {
    text-align: left;
    color: black;
    text-decoration: underline;
    float: left;
}

.block-link-a-right {
    text-align: right;
    color: black;
    text-decoration: underline;
}


.left-menu .sub-menu {
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 0;
    width: -1px;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

.sub-menu-sub {
    top: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    text-decoration: none;


}

.left-menu > li:hover .sub-menu {
    display: inline-flex;
    width: 100%;
    height: 50%;
    position: fixed;
    background-color: white;
    z-index: 4444;
}

.sub-menu li {
    display: block;
    padding-right: 250px;
}

.left-menu__item {
    position: relative;
}

.sub-menu.sub-menu-sub ul {
    padding-left: 0;
}

.sub-menu * {
    text-align: left;
}

.left-menu__item .sub-menu ul, a {
    border-bottom: none;
}

.left-menu__item .sub-menu:hover li {
    border-bottom: none;
}

.sub-menu .sub-menu-sub:hover li {
    border-bottom: none;
}

.profile {
    padding-top: 50px;
}

.separator {
    border: 1px solid;
}

.page-title h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.account-menu {
    text-align: justify;
    padding-top: 10px;
    margin-top: 50px;
}

.account-menu-lst {
    display: inline;
    margin: 0;
    padding: 0;
}

.account-menu-lst li {
    display: inline;
    font-family: 'Raleway', sans-serif;
}

.account-menu ul li a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.account-menu span {
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
}

.account-menu *{
    text-decoration: none;
    color: black;
}

.account-menu:hover *{
    color: black;
}

.account-info {
    text-align: left;
    padding: 0;
}



.user-edit-block br {
    margin-bottom: 15px;
}

.user-edit-block  *{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}


.user-edit-block {
    font-family: 'Raleway', sans-serif;
}

.user-edit-block a {
    color: #107ba3;;
}

.user-edit-block a:hover {
    color: #107ba3;
    text-decoration: underline;
}

.link-profile{
    border-bottom: 2px solid;
}

.account-info {
    padding-top: 25px;
}

.user-info *{
    font-family: 'Raleway', sans-serif;
}

.bio-form {
    display: none;
}

.phone-form {
    display: none;
}

.password-change-form {
    display: none;
}

.mailing-form {
    display: none;
}

.email-form {
    display: none;
}

.form_active {
    display: contents;
}

.img-info {
    all: unset;
}

.sub-menu-sub-li p{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.sub-menu {
    border: 1px solid;
}

.about {
    font-family: 'Raleway', sans-serif;
}