@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
* {
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

/* NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    z-index: 1000;
    color: black;
    width: 100%;
    padding: 20px 0 27px;
}

/* SLIDER */

.home-slider {
    position: relative;
    height: 100vh;
    color: white;
    background-color: white;

}

.products {
    position: relative;
}

.left-menu li a {
    color: black; /* Цвет ссылок */
    text-decoration: none;
}


a:visited {
    color: black; /* Цвет посещенных ссылок */
}

a:active {
    color: black; /* Цвет активных ссылок */
}

.right-auth li a {
    color: black; /* Цвет ссылок */
    text-decoration: none;
}


.right-auth li {
    list-style: none;
    margin: 0;
    padding: 4px;
    display: inline-block;
    letter-spacing: 5px;
}

.right-auth li:hover {
    border-bottom: 2px solid black;
}

.left-menu li {
    list-style: none;
    margin: 0;
    padding: 4px;
    display: inline-block;
    letter-spacing: 5px;
}

.left-menu li:hover {
    border-bottom: 2px solid black;
}

.right-auth {
    margin: 0;
    padding: 0;
    text-align: right;
}

.left-menu {
    margin: 0;
    padding: 0;
    text-align: left;
}

.logo a{
    color: black;
    text-decoration: none;
}

.logo a:active {
    color: black;
}

.logo a:visited {
    color: black;
}

.logo {
    text-align: center;
    margin: 0;
    padding: 4px;
}

