{% extends 'account/user_profile.html' %}

{% block title %}Заказы-Ноябрь{% endblock %}

{% block info %}
    <div class="col-md-1 col-sm-1 col-lg-1"></div>
    <div class="orders-info col-md-10 col-sm-10 col-lg-10">
        <table class="table_order_list">
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Адрес</th>
                <th>Доставка</th>
                <th>Сумма</th>
                <th>Статус</th>
            </tr>
            {% for order in orders %}
                <tr class="order-list">
                    <td class="txt_gray">
                        <a href="{% url 'account:order_detail' order.id %}">№{{ order.id }}</a>
                        <br>
                        <span class="faded_txt_gray">{{ order.pay_type }}</span>
                    </td>
                    <td>{{ order.created|date:'Y-m-d' }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.ship_type }}</td>
                    <td>{{ order.get_total_discount_cost }} руб.</td>
                    <td>{% if order.confirmation_url %}
                        <a href="{{ order.confirmation_url }}">{% endif %}{{ order.payment_status }}</a></td>
                </tr>
                <tr style="border-top: 1px solid black;">
                    <td colspan="6" style="padding:0 0 5px 0;"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-1 col-sm-1 col-lg-1"></div>
    <div class="paginator">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="paginator-list col-md-6 col-sm-6 col-lg-6">
                    {% if orders.has_other_pages %}
                        {% for i in orders.paginator.page_range %}
                            {% if orders.number == i %}
                                <a class="paginator-current-link" href="?page={{ i }}">{{ i }}</a>
                            {% else %}
                                <a class="paginator-link" href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <style>
        .link-profile {
            border-bottom: none;
        }

        .link-order-history {
            border-bottom: 2px solid;
        }
    </style>
{% endblock %}