{% extends 'account/user_profile.html' %}
{% load thumbnail %}
{% block title %}Адрес-Ноябрь{% endblock %}

{% block info %}
    <div class="col-md-1 col-sm-1 col-lg-1"></div>
    <div class="orders-info col-md-10 col-sm-10 col-lg-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                <h1>ЗАКАЗ №{{ order.id }} ({{ order.created|date:'d:m:Y' }})</h1>
                    <div class="cart-side">
                        <div class="items-wrapper">
                            {% for item in order.items.all %}
                                {% with product=item.product %}
                                    <div class="items-wrapper__product">
                                        <div class="product__image">
                                            {% thumbnail product.image "100x100" crop="20%"  as im %}
                                                <a class="img" href="{{ product.get_absolute_url }}">
                                                    <img src="{{ im.url }}">
                                                </a>
                                            {% endthumbnail %}
                                        </div>
                                        <div class="product__descr">
                                            <div class="title">
                                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                            </div>
                                            <div>Размер: {{ item.size }}</div>
                                            <div>Количество: {{ item.qty }}</div>
                                            <div>Артикул: {{ product.article }}</div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        </div>

                        <div>
                            <p class="price_">Стомость товаров: {{ order.get_total_cost }} руб.</p>
                            <p class="price_">Стомость товаров со скидкой: {{ order.get_total_discount_cost }}
                                руб.</p>
                            <p class="price_">Итого: {{ order.get_total_discount_cost }} руб.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="cart-side">
                        <p>Статус заказа: {{ order.status }}</p>
                        <p>Получатель: {{ order.first_name }} {{ order.last_name }}</p>
                        <p>Адрес: {{ order.address }}</p>
                        <p>Телефон: {{ order.phone }}</p>
                        <p>Способ доставки: {{ order.ship_type }}</p>
                        <p>Способ оплаты: {{ order.pay_type }}</p>
                        <p>Статус оплаты: {{ order.payment_status }}</p>
                        <p>Дата оплаты:</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-1 col-lg-1"></div>
    <style>
        .link-profile {
            border-bottom: none;
        }

        .link-order-history {
            border-bottom: 2px solid;
        }
    </style>
{% endblock %}