{% extends 'shop/base.html' %}

{% block title %}Смена пароля-Ноябрь{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4"></div>
                <div class="auth col-md-3 col-sm-3 col-lg-3">
                    {% include 'account/messages.html' %}
                    <div class="customer-login">
                        <form class="login-form" method="post" action="{% url 'account:password_change' %}">
                            <div class="block-a">
                                <h1>Смена пароля</h1>
                            </div>
                            <div class="block-a">
                                <label class="label-form">
                                    {{ form.new_password.label }}
                                </label>
                                <input type="password" name="password" required="" id="id_password">
                            </div>
                            <div class="block-a">
                                <label class="label-form">
                                    {{ form.confirm_password.label }}
                                </label>
                                <input type="password" name="password" required="" id="id_password">
                            </div>
                            {% csrf_token %}
                            <div class="block-submit">
                                <input type="submit" value="Войти">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-lg-5"></div>
            </div>
        </div>
    </div>
{% endblock %}