{% load static %}
{% load thumbnail %}
{% load cache %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel=stylesheet href="{% static 'css/style.css' %}">
    <link rel=stylesheet href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static '/js/libs/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static '/js/libs/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/libs/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/js/libs/zoom/dist/css/lightbox.css' %}">
</head>
<body>

{% cache 86400 navbar %}
    <div class="navbar" id="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <form class="search-form" method="get" action="{% url 'search:product_search' %}">
                    <input type="text" class="search__input" name="search_field" id="id_search_field" required=""
                           placeholder="Что будем искать?">
                    <input type="submit" value="Поиск" hidden>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
    <div class="products col-md-5 col-sm-5 col-lg-5 menu-container" id="products-menu">
        <i class="menu-toggle"></i>
        <ul class="left-menu">
            {% for i in categories %}
                <li class="left-menu__item"><a style="text-decoration: none;"
                                               href="{% url 'shop:product_list_by_category' i.slug %}">{{ i.name }}</a>
                    <ul class="sub-menu">
                        {% for l in i.subcategories.all %}
                            <li class="sub-menu-li"><a
                                    href="{% url 'shop:product_list_by_subcategory' l.slug %}">{{ l.name }}</a>
                                <ul class="sub-menu-sub"
                                    style="padding-left: 0rem;padding-top: 0; margin-top: 40px">
                                    {% for c in l.subcategory_type.all %}
                                        <li class="sub-menu-sub-li" style="text-decoration: none;"><a
                                                href="{% url 'shop:product_list_by_subcategory_type' c.slug %}">{{ c.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            <li class="left-menu__item"><a href="{% url 'shop:brand_list' %}">Бренды</a></li>
            <li class="left-menu__item"><a href="{% url 'shop:products_sale' %}">Sale</a></li>
        </ul>
    </div>
    <div class="logo col-md-2 col-sm-2 col-lg-2">
        <a href="{% url 'shop:index' %}"><img class="logo-img" src=" {% static 'img/logo.png' %}"
                                              alt="logo">
        </a>
        <a class="cart" href="#"></a>
    </div>
    <div class="auth col-md-5 col-sm-5 col-lg-5 menu-container" id="products-menu-right">
    <ul class="right-auth">
    <li class="right-menu__item"><a href="{% url 'blog:article_list' %}">Блог</a></li>
{% endcache %}
<li class="right-menu__item"><a href="





        {% if user.is_authenticated %}{% url 'account:profile' %}{% else %}{% url 'account:login' %}{% endif %}">Профиль</a>
</li>
<li class="right-menu__item"><a class="search" href="#">Поиск</a></li>
<li class="right-menu__item"><a href="{% url 'cart:cart_detail' %}">Корзина <span id="cart_qty">[]</span></a>
</li>
</ul>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="menu_phone " id="menu_phone">

            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<div class="wrapper">
    {% block content %}
        {% include 'account/messages.html' %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="swiper_box">
                            <div class="swiper indexSwiper">
                                <div class="swiper-wrapper">
                                    {% for banner in banners %}
                                        <div class="swiper-slide">
                                            <a href="#"><img
                                                    src={% thumbnail banner.image "1420x466" as im %}"{{ im.url }}"{% endthumbnail %}></a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="small_banners">
                            {% for sb in small_banners %}
                                <div class="small_banner">
                                    <a href="#"><img
                                            src={% thumbnail sb.image "250x250" as im %}"{{ im.url }}"{% endthumbnail %}></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="new-items_"><h2>Новые поступления</h2></div>
                        <div class="swiper new-items">
                            <div class="swiper-wrapper">
                                {% for item in new_items %}
                                    <div class="swiper-slide">
                                        <a href="{% url 'shop:product_detail' item.slug %}"><img
                                                src={% thumbnail item.image "250x250" as im %}"{{ im.url }}"{% endthumbnail %}></a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                </div>
            </div>
            <br>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="new-items_"><h2>Товары со скидкой</h2></div>
                        <div class="swiper new-items">
                            <div class="swiper-wrapper">
                                {% for item in sale_items %}
                                    <div class="swiper-slide">
                                        <a href="{% url 'shop:product_detail' item.slug %}"><img
                                                src={% thumbnail item.image "250x250" as im %}"{{ im.url }}"{% endthumbnail %}></a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                </div>
            </div>
            <br>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="new-items_"><h2>Новые статьи</h2></div>
                        <div class="articles">
                            {% for article in articles %}
                                <div class="article">
                                    <a href="{% url 'blog:article_detail' article.slug %}">
                                        {% thumbnail article.img "402x300" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                </div>
            </div>
            <br>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="mail-img">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2"></div>
                </div>
            </div>
        </div>

    {% endblock content %}
    {% cache 86400 footer %}
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="address col-md-12 col-sm-12 col-lg-12">
                        <p>Кронштадт, Посадская, 21/4</p>
                    </div>
                </div>
            </div>
            <div class="work-social">
                <div class="container-fluid">
                    <div class="row">
                        <div class="work col-md-6 col-sm-6 col-lg-6">
                            <ul>
                                <li><p>Пн—Чт 11:00—21:00</p></li>
                                <li><p>Пт—Вс 11:00—22:00</p></li>
                                <li><a href="tel:89967773480">8 996 777 34 80</a></li>
                            </ul>
                        </div>
                        <div class="social col-md-6 col-sm-6 col-lg-6">
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">VK</a></li>
                                <li><a href="#">Магазин</a></li>
                                <li><a href="#">Помощь</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
</div>
<script>
    function updateQtyCart() {
        setTimeout(function () {
            $.ajax({
                url: '/cart/cart-qty/',
                success: function (response) {
                    console.log(response['cart_qty'])
                    r = document.getElementById('cart_qty')
                    r.textContent = '[' + response['cart_qty'] + ']'
                }
            })
        }, 100)
    }

    updateQtyCart()
</script>
<script src="{% static 'js/libs/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/common.js' %}"></script>
</body>
</html>