<div class="cell">
    <div class="clear_all" style="margin-bottom: 30px;"><a class="clear_filter" href="#"
                                                           id="clear_filter">Очистить</a>
    </div>
    <div class="nw-i-filter">
        <ul>
            <li class="sort">
                <a href="#" id="popular">Популярное</a>
            </li>
            <li class="sort">
                <a href="#" id="newest">Новинки</a>
            </li>
        </ul>
    </div>
    <div class="nw-i-filter">
        <label class="category_type" data-id="">Категория:</label>
        <ul>
            {% if category|length >= 1 %}
                {% for c in category %}
                    <li class="filter">
                        <a class="category" href="#" data-id="{{ c.id }}"
                           id="{{ c.name }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="filter">
                    <a class="category" href="#" data-id="{{ category.id }}"
                       id="{{ category.name }}">{{ category.name }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="nw-i-filter">
        <label class="subcategory_type" data-id="">Подкатегория:</label>
        <ul>
            {% if subcategory|length >= 1 %}
                {% for c in subcategory %}
                    <li class="filter">
                        <a class="subcategory" href="#" data-id="{{ c.id }}"
                           id="{{ c.name }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="filter">
                    <a class="subcategory" href="#" data-id="{{ subcategory.id }}"
                       id="{{ subcategory.name }}">{{ subcategory.name }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="nw-i-filter">
        <label class="subcategory_type_type" data-id="">Тип Подкатегории:</label>
        <ul>
            {% if subcategory_type|length >= 1 %}
                {% for c in subcategory_type %}
                    <li class="filter">
                        <a class="subcategory_type_type_t" href="#" data-id="{{ c.id }}"
                           id="{{ c.name }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="filter">
                    <a class="subcategory_type_type_t" href="#" data-id="{{ subcategory_type.id }}"
                       id="{{ subcategory_type.name }}">{{ subcategory_type.name }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="nw-i-filter">
        <label class="brand_type" data-id="">Бренд:</label>
        <ul>
            {% if brand|length >= 1 %}
                {% for c in brand %}
                    <li class="filter">
                        <a class="brands" href="#" data-id="{{ c.id }}"
                           id="{{ c.name }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="filter">
                    <a class="brands" href="#" data-id="{{ brand.id }}"
                       id="{{ brand.name }}">{{ brand.name }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="nw-i-filter">
        <span class="sizes">Размеры:</span>
        <ul>
            {% if sizes|length >= 1 %}
                {% for i in sizes %}
                    <li class="filter">
                        <a class="size" href="#" data-id="{{ i.name }}"
                           id="{{ i.name }}">{{ i.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="filter">
                    <a class="size" href="#" data-id="{{ sizes.name }}"
                       id="{{ sizes.name }}">{{ sizes.name }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>